html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}
#app {
  height: 100%;
}
.CurrentPosition{
	height:100px;
}
.currentcolor{
  color: #008ce5
}
 //表头上面的
 .CurrentPosition{
    		height: 40px;
    		background:#f7f7f7; 
    .NowPositon{
              line-height: 40px;
              margin-left: 15px;
    		}
    } 
